<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let keys of employeeKeys">
                    {{keys}}
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>
                    {{emp.name}}
                </td>
                <td>
                    {{emp.phone}}
                </td>
                <td>
                    {{emp.email}}
                </td>
                <td>
                    {{emp.company}}
                </td>
                <td>
                    {{emp.date_entry}}
                </td>
                <td>
                    {{emp.org_num}}
                </td>
                <td>
                    {{emp.address_1}}
                </td>
                <td>
                    {{emp.city}}
                </td>
                <td>
                    {{emp.zip}}
                </td>
                <td>
                    {{emp.geo}}
                </td>
                <td>
                    {{emp.pan}}
                </td>
                <td>
                    {{emp.pin}}
                </td>
                <td>
                    {{emp.id}}
                </td>
                <td>
                    {{emp.status}}
                </td>
                <td>
                    {{emp.fee}}
                </td>
                <td>
                    {{emp.guid}}
                </td>
                <td>
                    {{emp.date_exit}}
                </td>
                <td>
                    {{emp.date_first}}
                </td>
                <td>
                    {{emp.date_recent}}
                </td>
                <td>
                    {{emp.url}}
                </td>
                <td>
                    <div style="padding-left: 5px;">
                        <input type="button" value="Submit" (click)="submitEmpData(emp.id, emp.status)" />
                    </div>
                </td>
            </tr>
        </tbody>        
    </table>
</div>
<div id="footer">
    <div id="rowsperpage">
        <span>Rows Per Page</span>
        <input type="text" id="txtRowsPerPage" [(ngModel)]="selectedElement" (keyup)="filterGrid(selectedElement)" />
    </div>
    <div id="pagination">
        <a [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" (click)="prevPage()" href="#">Prev</a>
        <a *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}" (click)="setPage(page)" href="#">{{page}}</a>
        <a [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" (click)="nextPage()" href="#">Next</a>
    </div>
</div>