table {
    border-collapse: collapse;
    width: 100%;    
    overflow-x: scroll;
    display: block;
}
thead {
    background-color: #EFEFEF;
}

thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
td, th {
    min-width: 100px;
    height: 25px;
    border: solid 1px lightblue;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

#footer { 
    width: 100%;    
    overflow: hidden;
    padding-top: 10px;
}

#rowsperpage {
    width: 400px;    
    float: left;
}

#pagination  {
    width: 400px;   
}

#pagination {    
    float: right;    
}

#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination a.active {
    background-color: #495CE6;
    color: white;
}

#pagination a:hover:not(.active) {background-color: #ddd;}

#rowsperpage span{
    padding : 5px;
}